
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: "Roboto";
    color: #27214d;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
    
}

