$height-price-qte: 50px;

main{
    height: 50%;
    width: 100%;
    margin: 0 auto;

    background-color: $color-panel;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    box-sizing: border-box;
    padding: 0 20px;
    
    .info-product{
        height: 30%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content:flex-end;

        .name-product{
            height: 32px;
            line-height: 32px;

            font-size: 24px;
            font-weight: 500;
        }

        .qte-price-box{

            display: flex;
            justify-content: space-between;

            p{
                font-size: 20px;
                font-weight: 500;
                
            }
          
            .qte-box{
                width: 35%;
                height: $height-price-qte;
                
                p, div{
                    display: inline-block;
                    margin-right: 12px;

                }

                .add, .remove{
                    background-size: cover;
                    width: 15px;
                    background-color: #fff2e7;
                    border-radius: 100%;
                }
                .add {
                    background-image: url("../../../images/img-btn-add.png");
                    height: 15px;
                }

                .remove{
                    background-image: url("../../../images/img-btn-remove.png");
                    height:5px;
                    margin-bottom: 5px;
                }
            }

            .price-box{
                width: 55%;
                height: $height-price-qte;
                text-align: end;

                .price-product:before{
                    content: "";
                
                    display: inline-block;
                    margin-right: 5px;

                    width: 20px;
                    height: 20px;


                    background-image: url("../../../images/simbolo-preco.png");
                    background-size: contain;
                    background-repeat: no-repeat;

                }
            }

        }
    
    }

    .info-combo{
        height: 40%;
        width: 100%;

        .title{
            height: 30px;
            line-height: 30px;

            font-size: 18px;
            font-weight: 400;
            height: 30px;
            line-height: 30px;
        }

        .ingredients-box{
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            div{
                min-width: 25%;
                height: 28px;
                background: #fafafa;
                
                border-radius: 10px;
                text-align: center;
                line-height: 28px;
            }

        }

        & p:after{
            content: '';
            width: 25%;
            height: 2px;
            background-color: $color-principal;
            display: block;
        }

    }

    .message{
        height: 30%;
        width: 100%;

        p{
            margin: 0;
        }
    
    }

}



