@import "../abstract/base";

.screen {

    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: $color-principal;
}

@import "./partials/photo-product";
@import "./partials/main";
@import "./partials/footer";

