@import "../abstract/base";

main{
    
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .img-container{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        width: 100%;
        height: 60%;

        background-color: #FFA451;

        .box-image{

            width: 60%;
            height: 60%;
            max-width: 400px;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img:first-child{

                align-self: flex-end;
            }

            img:nth-child(2){
                width: 100%;
                height: 100%;
            }

            img:nth-child(3){
                max-width: 100%;
            }

           

        }
       
    }

    .bottom-container{

        width: 100%;
        height: 35%;

        .box-info{

            width: 100%;
            height: 75%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            

        }

        p{
            margin: 0 2em;
        }
    
        .title{
            max-width: 80%;
            color: #27214D;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            
        }

        .resume{
            max-width: 90%;
            color: #5D577E;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        .btn-continue{
            margin: 0 auto ;
            width: 90%;
            height: 55px; 
            max-width: 500px;
            font-size: 16px;
    
            background-color: rgba(255, 164, 81, 1);
            border-radius: 10px;
            color: #ffff;
    
            text-align: center;
            line-height:55px;

            cursor: pointer;
    
        }
    }
        
}

@media (min-width:599px) and (max-height:450px) {

    main{
        flex-direction: row;

        .img-container{
            height: 100%;
        }

        .bottom-container{
            height: 80%;
            margin: auto 0;
        }

    }
    }

    body{
        height: 100vh;
        min-height:100vh;
    }


    